.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}
.wrapper .form-container {
	width: 100%;
	overflow: hidden;
}
.form-container .form-inner {
	display: flex;
	width: 200%;
}
.form-container .form-inner form {
	width: 50%;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}